* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #bbb;
    background-color: #AABBEE;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}